# ==========================================
# Configurações do PostgreSQL (Data Warehouse)
# ==========================================
# Se rodar os scripts via Docker, o host internamente será "postgres"
# Para conectar via DBeaver/VS Code no seu PC, use "localhost"
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_NAME=prf_dw

# ==========================================
# Configurações do Airflow (Opcional)
# ==========================================
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
# AIRFLOW__WEBSERVER__SECRET_KEY=sua_chave_secreta_aqui