# Airflow local files
airflow.cfg
airflow.db
airflow-webserver.pid
webserver_config.py

# Pastas (mantem .gitkeep)
data/bronze/*
data/silver/*
!data/bronze/.gitkeep
!data/silver/.gitkeep


# Geral
.env
.env.local
__pycache__/
*.pyc
.Python
venv/
env/
*.egg-info/
dist/
build/
logs/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~